.image-position-1{
  margin-left: 16px;
  margin-top: 16px;
}

.wd-text-1{
  color:darkgray;
  font-size: 13px;
  margin-left: 16px;
  margin-top: 12px
}

.wd-text-2{
  color:lightgray;
  font-size: 15px;
  margin-left: 16px;
  margin-top: 12px
}

.wd-text-3{
  width:506px;
  color:white;
  font-size: 15px;
  margin-left: 16px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.wd-bigger-image{
  margin-left: 16px;
  margin-top: 12px;
  width:504px;
  height:264px;
  border-radius: 30px;

}

.wd-text-4{
  margin-left: 6px;
  width:504px;
  color:lightgray;
  font-size: 15px;
  padding: 12px;
}