::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightgray;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: lightgray;
}

.wd-grid-col-onesixth-page { width: 16%; float: left; }

.wd-boarder {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(47,51,54);
}

.wd-hidden-boarder {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-bottom-color: #1da1f2;
}

.wd-rounded-corners-pic { border-radius: 20px;}

.wd-round-pic { border-radius: 20px;}

.wd-float-left { float: left;}
.wd-float-right { float: right;}
.wd-float-done { clear: both;}

.wd-padding-fat { padding: 16px;}

.wd-container {display: flex;}

.wd-stacked-icon {
  width: 1em;
  height: 1em;
  line-height: 1em;
}

@media (min-width: 1200px) and
(max-width:1400px)
{
  .wd-col-xl-customize {
    flex: 0 0 auto;
    width: 200px;
  }
}


@media (min-width: 768px) and
(max-width:992px)
{
  .wd-col-md-customize {
    flex: 0 0 auto;
    width: 80px;
  }
}

@media (min-width: 576px) and
(max-width:768px)
{
  .wd-col-sm-customize {
    flex: 0 0 auto;
    width: 80px;
  }
}

@media (min-width: 0px) and
(max-width:576px)
{
  .wd-col-xs-customize {
    flex: 0 0 auto;
    width: 80px;
  }
}